body{
    background-color: rgb(42, 120, 184);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: italic;
}

.title {
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: 100px;
}
