* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
body{
    background-color: rgb(74, 74, 209);
}

ul {
    list-style: none;
    background-color: rgb(57, 130, 164);
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 20px;
    color: white;
    text-decoration: underline;
    text-align: center;
    font-size: 20px;

}

ul li a ul.dropdown {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: lightcoral;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background-color: lightblue;
}

ul li:hover ul.dropdown {
    display: block;
}


.first_part{
    margin: 370px;
}

.second_part{
    margin: 370px;
}

.third_part{
    margin: 370px;
}

.button{
    border-radius: 20%;
}